/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .app-container {
    height: 170vh;
  }
}

.appstore-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appstore-heading {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 48px;
  font-weight: 600;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #7b8794;
  padding: 8px;
  border-radius: 4px;
  width: 50vw;
}

@media screen and (min-width: 768px) {
  .input-container {
    width: 50vw;
  }
}

.search-input {
  border: none;
  outline: none;
  width: 50vw;
  background-color: transparent;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 50vw;
  }
}

.search-icon {
  height: 30px;
  width: 30px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-right: 35px;
  margin-top: 35px;
}

.apps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
}
